<a href="https://colab.research.google.com/github/laya2002/assignment-8/blob/master/assignment_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

write a phyton program to calculate the length of a string

In [1]:
a="hello"
print(len(a))

5

write a phyton program to count the number of characters (character frequence) in a string

In [2]:
a=str(input('enter the string'))
count=0
for i in a:
  count=count+1
print("total no.of characters in the string=",count)

enter the stringlaya
total no.of characters in the string= 4

write a phyton program to get a single string from two given strings , separated by a space and sample and swap the first two character of each string

In [1]:
c = input()
t = len(c)
temp = ""
for i in range(0,len(c)):
   if t<3:
     break
   else:
     if i in (0,1,t-2,t-1):
       temp = temp+c[i]
     else:
        continue
print(temp)

laya
laya

write a phyton program sctipt that takes input from the user and displays that input back in upper and lower cases

In [2]:
a="hello"
print(a.upper())

HELLO

write a phyton program to remove a newline in phyton

In [10]:
str1="hello"
print(str1)
print(str1.strip())

hello
hello

write a phyton program to count occurances of a substring in a string

In [11]:
str1 = 'thid is layarevanth and i am from tadipatri and i wanna go for a tour'
print()
print(str1.count("and"))
print()

2

write a phyton program  to convert a string in a list

In [14]:
def convert(string):
  li = list(string.split("-"))
  return li
str1 = "laya"
print(convert(str1))

['laya']

write a phyton program to perform delation of a character

In [15]:
s = 'laya'
print(s.del('a',''))

SyntaxError: ignored

write a phyton program to print every character of a string entered by user in a new line using loop

In [16]:
word = 'pass'
print(word[0])
print(word[1])
print(word[2])
print(word[3])

p
a
s
s